<p id="notice"><%= notice %></p>
<% started = true if @contest.start_time < Time.now %>
<% l = (Lineup.where("user_id" => current_user.id)) %>
<% l = l.where("contest_id" => @contest).take %>
<% entered = true if !l.nil? %>

<table>
  <th>Contest</th>
  <th>Entry</th>
  <th>Prizes</th>
  <th>Start Time</th>
  <th>Size</th>
  <th>Entries</th>

  <tr class="contest-details">
    <td>
      <%= @contest.title %>
    </td>
    <td>
      <%= "$#{number_with_precision(@contest.fee, precision: 2)}" %>
    </td>
    <td>
      <%= "$#{number_with_precision(@contest.prize_pool, precision: 2)}" %>
    </td>
    <td>
      <%= (@contest.start_time).strftime("%m/%d/%Y") %>
    </td>
    <td>
      <%= @contest.max_size %>
    </td>
    <td>
      <%= @contest.curr_size %>
    </td>
  </tr>

</table>

<% if entered %>
  <% if current_user.permissions == 2 && @contest.start_time > Time.now%>
    <%= link_to 'Edit', edit_contest_path(@contest) %>
  <% end %>
  <h3>Your Lineup</h3>

  <table>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    
    <% players = LineupPlayer.where(lineup_id: l.id) %>
    <% players.each do |p| %>
      <% player = Player.find(p.player_id) %>
    <tr class="contest-entries">
      <td><%= @positions.where(pos_num: player.position).take.abbr %></td>
      <td>
        <span><%= player.name %></span>
      </td>
      <td></td>
      <td><%= player.salary %></td>
      <% if started %>
        <td><%= player.live_score %></td>
      <% end %>
    </tr>
    <% end %>

  </table>
<% end %>

<br>


<% if @contest.start_time < Time.now %>
  <br><br>
  <table name = lineups-table, cellspacing="0">
    <th>User</th>
    <th>Score</th>
  <% @lineups.each do |lineup| %>
    <tr class="contest-entries">
      <% user = User.find(lineup.user_id) %>
      <td>
        <%= link_to "#{user.display_name}", lineup_path(lineup.id, :contest_id => @contest.id) %>
        <button class="tester"></button>
      </td>
      <td><%= lineup.total_score %></td>
    </tr>

  <% end %>
  </table>
<% end %>

<h2>Games</h2>
<% @games.each do |game| %>
  <span><%= "#{Team.find(game.team_1).name} vs #{Team.find(game.team_2).name}" %></span>
  <br>
<% end %>
<br>
<% if current_user.permissions == 1 %>
  <% if @contest.start_time > Time.now %>
    <% if !entered %>

      <%= link_to 'Enter Contest', new_lineup_path(contest_id: @contest.id) %> <br>
    <% else %>
      <%= link_to 'Edit Entry', edit_lineup_path(l.id, :contest_id => @contest.id)%>
      <br>
    <% end %>
  <% end %>

<% end %>


