<h1>ADMIN PANEL</h1>
<h3>Gametype</h3>
<%= link_to 'View Gametypes', gametypes_path %>
<br>
<%= link_to 'New Gametype', new_gametype_path %>
<br><br>

<%= link_to 'View Positions', positions_path %>
<br>
<%= link_to 'New Position', new_position_path %>
<br><br>

<h3>Teams</h3>
<%= link_to 'View Teams', teams_path %>
<br>
<%= link_to 'New Team', new_team_path %>
<br><br>

<h3>Players</h3>
<%= link_to 'View Players', players_path %>
<br>
<%= link_to 'New Player', new_player_path %>
<br><br>

<h3>Games</h3>
<%= link_to 'View Games', games_path %>
<br>
<%= link_to 'New Game', new_game_path %>
<br><br>

<h3>Slates</h3>
<%= link_to 'View Slates', slates_path %>
<br>
<%= link_to 'New Slate', new_slate_path %>
<br><br>

<h3>Contests</h3>
<%= link_to 'View Contests', contests_path %>
<br>
<%= link_to 'New Contest', new_contest_path %>
<br><br>


