<div class="landing-main">
	<div class="page-content">

		<div class="description-container">
			<h3>
				PLAY ESPORTS DAILY FANTASY FOR REAL CASH PRIZES.
			</h3>
		</div>
		<div class="button-container">
			<div class="login-button-container">
				<a class="green-button" id="login-button" href="#">LOGIN</a>
			</div>
			<div class="signup-button-container">
				<a class="green-button" href="<%= new_user_registration_path %>">SIGN UP</a>
			</div>
		</div>

		<!-- The Modal -->
		<div id="login-modal" class="modal">

		  <!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
			   		<span class="close">×</span>
					<h2>Log in</h2>
					<hr>
				</div>
				<div class="login-content">
				    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					    <div class="field">
					    	<%= f.label :email %><br />
					    	<%= f.email_field :email, autofocus: true %>
					    </div>

					    <div class="field">
					        <%= f.label :password %><br />
					        <%= f.password_field :password, autocomplete: "off" %>
					    </div>
					    
						<a class="forgot" href="new_user_password_path">Forgot your password?</a>
			    	<% end %>

				</div>

				<a class="submit-link" href="#{}">Log In</a>

			</div>

<!-- 			</div>

				<p>Some text in the Modal..</p>
			</div> -->
		</div>

	</div>
</div>


