<div class="landing-main">
	<div class="landing-hero"></div>

	<div class="page-content">

		<div class="description-container">
			<h3>
				PLAY ESPORTS DAILY FANTASY FOR REAL CASH PRIZES.
			</h3>
		</div>
		<div class="button-container">
			<div class="login-button-container">
				<a class="green-button" id="login-button" href="#">LOGIN</a>
			</div>
			<div class="signup-button-container">
				<a class="green-button" href="<%= new_user_registration_path %>">SIGN UP</a>
			</div>
		</div>

		<!-- The Modal -->
		<div id="login-modal" class="modal">

		  <!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<span>Sign in</span>
					<hr>
				</div>
				<div class="login-content">
					<div class="notice-container">
						<span id="notice"></span>
					</div>

				    <%= form_for resource, url: session_path(:user), remote: true do |f| %>
					    <div class="field">
					    	<%= f.label :email %><br />
					    	<%= f.email_field :email, autofocus: true %>
					    </div>

					    <div class="field">
					        <%= f.label :password %><br />
					        <%= f.password_field :password, autocomplete: "off" %>
					    </div>

					    <div class="field">
          					<label id="remember_me_label"><input type="checkbox" name="user[remember_me]" id="user_remember_me"/>Remember me</label>
					    </div>
					    
						<a class="forgot" href="new_user_password_path">Forgot your password?</a>

						<div class="actions">
       						<%= f.submit "Log in", class: "hidden", id: "submit-form" %>
     					</div>
			    	<% end %>


			    	<label for="submit-form" class="submit-link">Log In</label>

				</div>

			</div>

<!-- 			</div>

				<p>Some text in the Modal..</p>
			</div> -->
		</div>

	</div>
</div>


