<%= form_for(@lineup) do |f| %>
  <% if @lineup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lineup.errors.count, "error") %> prohibited this lineup from being saved:</h2>

      <ul>
      <% @lineup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h2 class="salary">60000</h2>
  </div>

<h2>THIS PLAYER SELECT IS STILL A W.I.P, BE SURE LET ME KNOW IF YOU MANAGE TO BREAK IT</h2>
    <div class="position-select-container">
      <ul class="position-select">
        <li>
          <button type="button" data-position-filter="all">All</button>
        </li>
        <li>
          <button type="button" data-position-filter="top">Top</button>
        </li>
        <li>
          <button type="button" data-position-filter="mid">Mid</button>
        </li>
        <li>
          <button type="button" data-position-filter="adc">ADC</button>
        </li>
        <li>
          <button type="button" data-position-filter="support">Support</button>
        </li>
        <li>
          <button type="button" data-position-filter="jungle">Jungler</button>
        </li>
      </ul>
    </div>
    <div class="player-select-container">
      <div class="new-player-selection-container">
        <table class="player-select" cellpadding="0" border="0" align="center" cellspacing="0">
          <% @players.each do |player| %>
              <tr class=<%= "lineup-#{player.position}" %>>

                <td>
                  <div class="player-info">
                    <% case player.position 
                       when "top" %>
                    <span class="player-position">TOP</span>
                    <% when "mid" %>
                    <span class="player-position">MID</span>
                    <% when 'adc' %>
                    <span class="player-position">ADC</span>
                    <% when 'support' %>                  
                    <span class="player-position">SUP</span>
                    <% when 'jungle' %>
                    <span class="player-position">JNG</span>
                    <% end %>
                    <span class="player-name" data-id="<%= player.id %>" data-position="<%= player.position %>" data-salary="<%= player.salary %>"><%= player.name %></span>

                    <button type="button" class="add-player-button">+</button>
                  </div>
                </td>
              </tr>

          <% end %>
        </table>
      </div>
  
      <div class="current-lineup-container">
        <table class="current-lineup" cellpadding="0" border="0" align="center" cellspacing="0">
              <tr class=<%= "current-lineup-top" %>>
                <td>
                  <div class="current-lineup-player-info">
                    <span class="current-lineup-player-position">TOP</span>
                    <span class="current-lineup-top-player-name" data-id="0" data-position="top" data-salary=""></span>
                    <button type="button" class="remove-player-button">-</button>
                  </div>
                </td>
              </tr>
              <tr class=<%= "current-lineup-mid" %>>
                <td>
                  <div class="current-lineup-player-info">
                    <span class="current-lineup-player-position">MID</span>
                    <span class="current-lineup-mid-player-name" data-id="0" data-position="mid" data-salary=""></span>
                    <button type="button" class="remove-player-button">-</button>
                  </div>
                </td>
              </tr>
              <tr class=<%= "current-lineup-adc" %>>
                <td>
                  <div class="current-lineup-player-info">
                    <span class="current-lineup-player-position">ADC</span>
                    <span class="current-lineup-adc-player-name" data-id="0" data-position="adc" data-salary=""></span>
                    <button type="button" class="remove-player-button">-</button>
                  </div>
                </td>
              </tr>
              <tr class=<%= "current-lineup-support" %>>
                <td>
                  <div class="current-lineup-player-info">
                    <span class="current-lineup-player-position">SUP</span>
                    <span class="current-lineup-support-player-name" data-id="0" data-position="support" data-salary=""></span>
                    <button type="button" class="remove-player-button">-</button>
                  </div>
                </td>
              </tr>
              <tr class=<%= "current-lineup-jungle" %>>
                <td>
                  <div class="current-lineup-player-info">
                    <span class="current-lineup-player-position">JNG</span>
                    <span class="current-lineup-jungle-player-name" data-id="0" data-position="jungle" data-salary=""></span>
                    <button type="button" class="remove-player-button">-</button>
                  </div>
                </td>
              </tr>
              <% for i in 1..3 %>
                <tr class=<%= "current-lineup-flex_#{i}" %>>
                  <td>
                    <div class="current-lineup-player-info">
                      <span class="current-lineup-player-position">FLEX <%= i %></span>
                      <span class=<%= "current-lineup-flex_#{i}-player-name"  %> data-id="0" data-position=<%= "flex_#{i}" %> data-salary=""></span>
                      <button type="button" class="remove-player-button">-</button>
                    </div>
                  </td>
                </tr>
              <% end %>
        </table>
      </div>


    </div>

  <%= hidden_field_tag :contest_id, @lineup.contest_id %>


  <div class="actions">
    <%= f.submit('disabled' => true) %>
  </div>
<% end %>
