<%= form_for(@lineup) do |f| %>
  <% if @lineup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lineup.errors.count, "error") %> prohibited this lineup from being saved:</h2>

      <ul>
      <% @lineup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h2 class="salary">60000</h2>
  </div>

  <div id="gametype" class="gametype" style="display: none;" data-gametype="<%= @contest.game %>"></div>

    <div class="position-select-container">
      <ul class="position-select">
        <li>
          <button type="button" data-position-filter="all">All</button>
        </li>
        <% @positions.each do |p| %>
          <li>
            <button type="button" data-position-filter=<%= "#{p.pos_num}" %>>
              <%= p.abbr %>
            </button>
          </li>
        <% end %>
        <li>
          <div class="search-container">
            <input type="text" id="search" placeholder="Type to Search"></input>
          </div>
        </li>
      </ul>
    </div>
    <div class="player-select-container">
      <div class="new-player-selection-container">
        <table class="player-select" cellpadding="0" border="0" align="center" cellspacing="0">
          <% @players.each do |player| %>
              <tr class=<%= "lineup-#{player.position}" %>>

                <td>
                  <div class="player-info">
                    <% case player.position 
                       when "1" %>
                        <span class="player-position">PG</span>
                      <% when "2" %>
                        <span class="player-position">SG</span>
                      <% when '3' %>
                        <span class="player-position">SF</span>
                      <% when '4' %>                  
                        <span class="player-position">PF</span>
                      <% when '5' %>
                        <span class="player-position">C</span>
                    <% end %>
                    <span class="player-name" data-id="<%= player.id %>" data-position="<%= player.position %>" data-salary="<%= player.salary %>" data-pnum = 0><%= player.name %></span>
                    <div class="player-salary-container">
                      <span class="player-salary"><%="$#{player.salary}" %></span>
                    </div>

                    <button type="button" class="add-player-button">+</button>
                  </div>
                </td>
              </tr>

          <% end %>
        </table>
      </div>
  
      <div class="current-lineup-container">
        <table class="current-lineup" cellpadding="0" border="0" align="center" cellspacing="0">
            <% for i in 1..@positions.count %>
              <% for j in 1..@players_hash["position_#{i}"].to_i %>
                <tr class=<%= "current-lineup-pos-#{i}-#{j}" %>>
                  <td>
                    <div class="current-lineup-player-info">
                      <span class="current-lineup-player-position"><%= @positions[i-1].abbr %></span>
                      <span class=<%= "current-lineup-pos-#{i}-#{j}-player-name "%> data-id="0" data-position=<%= @positions[i-1].pos_num %> data-salary="0" data-pnum = 0></span>
                      <button type="button" class="remove-player-button">-</button>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
            <% for i in 1..@gametype.num_flex %>
              <tr class=<%= "current-lineup-pos-0-#{i}" %>>
                <td>
                  <div class="current-lineup-player-info">
                    <span class="current-lineup-player-position"><%= "Flex #{i}" %></span>
                    <span class=<%= "current-lineup-pos-0-#{i}-player-name "%> data-id="0" data-position=<%= "0" %> data-salary=""></span>
                    <button type="button" class="remove-player-button">-</button>
                  </div>
                </td>
              </tr>
            <% end %>
        </table>
      </div>


    </div>

  <%= hidden_field_tag :contest_id, @lineup.contest_id %>


  <div class="actions">
    <%= f.submit('disabled' => true) %>
  </div>
<% end %>
