<p id="notice"><%= notice %></p>

<h1>Listing Lineups</h1>

<table>
  <thead>
    <tr>
      <th>Top</th>
      <th>Mid</th>
      <th>Adc</th>
      <th>Support</th>
      <th>Jungler</th>
      <th>Flex 1</th>
      <th>Flex 2</th>
      <th>Flex 3</th>
      <th>User</th>
      <th>Contest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineups.each do |lineup| %>
      <tr>
        <td><%= lineup.top %></td>
        <td><%= lineup.mid %></td>
        <td><%= lineup.adc %></td>
        <td><%= lineup.support %></td>
        <td><%= lineup.jungler %></td>
        <td><%= lineup.flex_1 %></td>
        <td><%= lineup.flex_2 %></td>
        <td><%= lineup.flex_3 %></td>
        <td><%= lineup.user_id %></td>
        <td><%= lineup.contest_id %></td>
        <td><%= link_to 'Show', lineup %></td>
        <td><%= link_to 'Edit', edit_lineup_path(lineup) %></td>
        <td><%= link_to 'Destroy', lineup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lineup', new_lineup_path %>
