<p id="notice"><%= notice %></p>

<h1>Listing Lineups</h1>

<table>
  <thead>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>User</th>
      <th>Contest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineups.each do |lineup| %>
      <tr>
        <td><%= lineup.player_1 %></td>
        <td><%= lineup.player_2 %></td>
        <td><%= lineup.player_3%></td>
        <td><%= lineup.player_4 %></td>
        <td><%= lineup.player_5 %></td>
        <td><%= lineup.player_6 %></td>
        <td><%= lineup.player_7 %></td>
        <td><%= lineup.player_8 %></td>
        <td><%= lineup.user_id %></td>
        <td><%= lineup.contest_id %></td>
        <td><%= link_to 'Show', lineup %></td>
        <td><%= link_to 'Edit', edit_lineup_path(lineup) %></td>
        <td><%= link_to 'Destroy', lineup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lineup', new_lineup_path %>
