<p id="notice"><%= notice %></p>
<% if @contest.nil? %>
  <% @contest = Contest.find(@lineup.contest_id) %>
<% end %>

<% started = true if @contest.start_time < Time.now %>

<% user = User.find(@lineup.user_id).display_name %>
<h3><%= user %>'s Lineup</h3>

  <table>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <tr class="contest-entries">
      <td>
        <span><b>Player 1</b></span>
      </td>
      <td>
        <span><%= Player.find(@lineup.player_1).name %></span>
      </td>
      <td></td>
      <td><%= Player.find(@lineup.player_1).salary %></td>
      <% if started %>
        <td><%= Player.find(@lineup.player_1).live_score %></td>
      <% end %>
    </tr>

    <tr class="contest-entries">
      <td>
        <span><b>Mid</b></span>
      </td>
      <td>
        <span><%= Player.find(@lineup.player_2).name %></span>
      </td>
      <td></td>
      <td><%= Player.find(@lineup.player_2).salary %></td>
      <% if started %>
        <td><%= Player.find(@lineup.player_2).live_score %></td>
      <% end %>
    </tr>

    <tr class="contest-entries">
      <td>
        <span><b>ADC</b></span>
      </td>
      <td>
        <span><%= Player.find(@lineup.player_3).name %></span>
      </td>
      <td></td>
      <td><%= Player.find(@lineup.player_3).salary %></td>
      <% if started %>
        <td><%= Player.find(@lineup.player_3).live_score %></td>
      <% end %>
    </tr>

    <tr class="contest-entries">
      <td>
        <span><b>Support</b></span>
      </td>
      <td>
        <span><%= Player.find(@lineup.player_4).name %></span>
      </td>
      <td></td>
      <td><%= Player.find(@lineup.player_4).salary %></td>
      <% if started %>
        <td><%= Player.find(@lineup.player_4).live_score %></td>
      <% end %>
    </tr>

    <tr class="contest-entries">
      <td>
        <span><b>Jungler</b></span>
      </td>
      <td>
        <span><%= Player.find(@lineup.player_5).name %></span>
      </td>
      <td></td>
      <td><%= Player.find(@lineup.player_5).salary %></td>
      <% if started %>
        <td><%= Player.find(@lineup.player_5).live_score %></td>
      <% end %>
    </tr>

    <tr class="contest-entries">
      <td>
        <span><b>Flex 1</b></span>
      </td>
      <td>
        <span><%= Player.find(@lineup.player_6).name %></span>
      </td>
      <td></td>
      <td><%= Player.find(@lineup.player_6).salary %></td>
      <% if started %>
        <td><%= Player.find(@lineup.player_6).live_score %></td>
      <% end %>
    </tr>

    <tr class="contest-entries">
      <td>
        <span><b>Flex 2</b></span>
      </td>
      <td>
        <span><%= Player.find(@lineup.player_7).name %></span>
      </td>
      <td></td>
      <td><%= Player.find(@lineup.player_7).salary %></td>
      <% if started %>
        <td><%= Player.find(@lineup.player_7).live_score %></td>
      <% end %>
    </tr>

    <tr class="contest-entries">
      <td>
        <span><b>Flex 3</b></span>
      </td>
      <td>
        <span><%= Player.find(@lineup.player_8).name %></span>
      </td>
      <td></td>
      <td><%= Player.find(@lineup.player_8).salary %></td>
      <% if started %>
        <td><%= Player.find(@lineup.player_8).live_score %></td>
      <% end %>
    </tr>

  </table>



<%= link_to 'Edit', edit_lineup_path(@lineup) %> |
<%= link_to 'Back', lineups_path %>
