   <p id="notice"><%= notice %></p>

<p>
  <strong>Top:</strong>
  <%= @lineup.top.name %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @lineup.mid.name %>
</p>

<p>
  <strong>Adc:</strong>
  <%= @lineup.adc.name %>
</p>

<p>
  <strong>Support:</strong>
  <%= @lineup.support.name %>
</p>

<p>
  <strong>Jungler:</strong>
  <%= @lineup.jungle.name %>
</p>

<p>
  <strong>Flex 1:</strong>
  <%= @lineup.flex_1.name %>
</p>

<p>
  <strong>Flex 2:</strong>
  <%= @lineup.flex_2.name %>
</p>

<p>
  <strong>Flex 3:</strong>
  <%= @lineup.flex_3.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @lineup.user_id.name %>
</p>

<p>
  <strong>Contest:</strong>
  <%= @lineup.contest_id.name %>
</p>

<%= link_to 'Edit', edit_lineup_path(@lineup) %> |
<%= link_to 'Back', lineups_path %>
