<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Team</th>
      <th>Salary</th>
      <th>Avg FP/Game</th>
      <th>Position</th>
      <th>Live Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.name %></td>
        <td><%= player.team_id %></td>
        <td><%= player.salary %></td>
        <td><%= player.avgFP %></td>
        <td><%= player.position %></td>
        <td><%= player.live_score %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
