<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>DfsEsport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="page-content">
<% if user_signed_in? %>

	<div class="top">
		<ul class="nav-bar">
			<li>
				<div class="nav-button">
					<div class="outline"></div>
					<%= link_to 'Lobby', contests_path %>
				</div>
			</li>
			<li>
				<div class="nav-button">
					<div class="outline"></div>
					<%= link_to 'Upcoming', contests_upcoming_path %>
				</div>
			</li>
			<li>
				<div class="nav-button">
					<div class="outline"></div>
					<%= link_to 'Live Contests', contests_live_path %>
				</div>
			</li>
			<li>
				<div class="nav-button">
					<div class="outline"></div>
					<%= link_to 'Watch', stream_links_path %>
				</div>
			</li>
			<% if current_user.permissions == 2 %>
				<li>
					<div class="nav-button">
						<%= link_to 'Admin Panel', admin_index_path %>
					</div>
				</li>
			<% end %>

			<li>
				<div class="nav-button">
					<%= link_to "Sign out #{current_user.display_name}", destroy_user_session_path, :method => 'delete' %>
				</div>
			</li>

			<li name="deposit"><%= link_to 'Withdraw', new_withdrawal_path %></li>
			<li name="deposit"><%= link_to 'Deposit', new_deposit_path %></li>

			<li name="deposit"><span>Current Balance: <%= "$#{number_with_precision(current_user.balance, precision: 2)}" %></span></li> 
		</ul>

	</div>
	<div class="left">
	    LEFT
	</div>

	<div class="main">
		<%= yield %>
	</div>

<% else %>
	<%= yield %>

<% end %>
</div>


</body>
